<!-- Vista Crear Productos-->
<div>
    <hr>
    <div>
        <h3>Actualización Usuarios</h3>
    </div>
    <div class="mb-3 row div">
        <div class="col-sm-3">
            <input [formControl]="id" type="hidden" class="form-control" id="id">
        </div>
    </div>

    <div class="mb-3 row div">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-5">
            <input [formControl]="name" type="text" class="form-control" id="name">
        </div>
        <label class="col-sm-2 col-form-label" *ngIf="name.touched && name.invalid" [ngClass]="'error'"> Name
            required!... </label>
    </div>
    <div class="mb-3 row div">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-5">
            <input [formControl]="email" type="email" class="form-control" id="email">
        </div>
        <label class="col-sm-2 col-form-label" *ngIf="email.touched && email.invalid" [ngClass]="'error'">
            required!... </label>
    </div>
    <div class="mb-3 row">
        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-5">
            <input [formControl]="password" type="password" class="form-control" id="password">
        </div>
        <label class="col-sm-2 col-form-label" *ngIf="password.touched && password.invalid" [ngClass]="'error'">
            password required!...</label>
    </div>
    <div class="mb-3 row">
        <label for="role" class="col-sm-2 col-form-label">Role</label>
        <div class="col-sm-5">
            <input [formControl]="role" type="text" class="form-control" id="role">
        </div>
        <label class="col-sm-2 col-form-label" *ngIf="role.touched && role.invalid" [ngClass]="'error'">
            role required!...</label>
    </div>
    <button class="btn btn-success" (click)="update()">Update</button>
    <hr>
</div>